<section id="about" class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Sobre mi</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
          Soy psicólogo clínico con más de 10 años de experiencia acompañando a personas en sus procesos de salud mental. Trabajo con adultos, adolescentes y personas mayores,
          tanto en sesiones presenciales como online.
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
          Me formé en la Universidad Mayor de Chile, con postítulo en Psicoterapia Sistémica Relacional (PUC) y actualmente curso un magister en Psicología y el Deporte 
          en la universidad Católica de Uruguay.
          Esta combinación de formaciones me permite abordar no solo trastornos como ansiedad o depresión, sino también potenciar habilidades como la motivación, liderazgo y manejo del estrés.
          </p>
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
          He trabajado en Unidades de Salud Mental, con pacientes bariátricos, deportistas de alto rendimiento y organizaciones públicas y privadas, brindando psicoterapia, talleres y charlas sobre salud mental.
          </p>
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
          Si estás buscando apoyo profesional para mejorar tu bienestar emocional o enfrentar desafíos personales, estás en el lugar correcto.
          </p>
        </p>
      </div>
    </div>
  </div>
</section>

