---
const values = [
  [
    {
      ref: '01',
      name: 'Compromiso con tu bienestar emocional',
      description:
        'Me importa lo que sientes y lo que estás viviendo. Mi objetivo es acompañarte en el camino hacia un mayor equilibrio y bienestar mental, respetando tus tiempos y necesidades personales.',
    },
    {
      ref: '02',
      name: 'Atención cerca y humana',
      description:
        'Creo en el poder del vínculo terapéutico. Aquí encontrarás un espacio de confianza, seguro y empático, donde puedas expresarte sin miedo a ser juzgado y sentirte acompañado/a en cada etapa.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Terapia para cada etapa de la vida',
      description:
        'Adolescentes, adultos y adultos mayores tienen realidades distintas. Por eso, adapto mi enfoque a cada etapa vital, comprendiendo los desafíos propios de cada momento y ofreciendo herramientas concretas para afrontarlos.',
    },
    {
      ref: '04',
      name: 'Cambio real, paso a paso',
      description:
        'Las metas no siempre son inmediatas. pero cada sesión es un paso hacia el cambio que buscas. Mi propósito es ayudarte a avanzar con claridad, motivación y sentido, trabajando juntos en objetivos terapéuticos realistas y significativos.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">¿Qué buscamos?</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
